{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="title">{{ album.name }} [{% if album.private %}Private{% else %}Public{% endif %}] </div>

    <div class="infobar">
      Last modified: {{album.modified_date}}
    </div>

    {% if user.is_authenticated%}
    <div class="actions">
      Actions:
      <a href="{%url share.views.delete_album album.pk %}">Delete</a> 
      {% if album.private %}
      <a href="{%url share.views.change_album_privacy album.pk 'False' %}">Make this album public</a> 
      {% else %}
      <a href="{%url share.views.change_album_privacy album.pk 'True' %}">Make this album private</a> 
      {% endif %}
    </div>
    {% endif %}

    <ul>
      {% for img in images.object_list %}
      <a href="{% url share.views.photo img.pk %}">
	<img border="0" alt="" src="{%url share.views.img img.pk %}"
            {% if img.image.width > 400 %}width="400"{% endif %} /> </a>
      {% endfor %}
    </ul>

{% endblock %}
